/*-- RESET-- */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,500&display=swap');
*{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}


h1, h2, h3, p, ul {
    margin-top:0 ;
    margin-bottom: 0;

}


ul{
    padding-left: 0;
    list-style: none;
}

img{
    width: 100%;
    display: block;
}


button {
    border: 0;
}